@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./components/common";
@import "./components/container";
@import "./components/section";
@import "./components/button";
@import "./components/section__header";
@import "./components/social-media";
@import "./components/modal";
@import "./components/header";
@import "./components/main-section";
@import "./components/features";
@import "./components/activities";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio-filtres";
@import "./components/portfolio-cards";