.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.cards__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cards__filtres {
  font-size: 16px;
  line-height: 1.9;
  color: getColor("descriptions");
  letter-spacing: 0.03em;
}

.cards__hidden {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
  &:hover .cards__active {
    transform: translate(0%, 0%);
  }
}
.cards__item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: getColor("borders");
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: getColor("borders");
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: getColor("borders");
}

.cards__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  &:hover .cards__active {
    transform: translate(0%, 0%);
  }
}

.cards__content {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}
.cards__images {
  object-fit: cover;
}

.cards__images--second {
  object-position: 100% 15%;
}

.cards__active {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 370px;
  height: 294px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: getColor("secondary");
  padding-left: 24px;
  padding-top: 49px;
  text-align: left;
  padding-right: 45px;
  top: 0;
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
